* {
  box-sizing: border-box;
  font-family: Segoe UI, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  height: 100%;
  margin: 2.5rem 5rem;
  width: 100%;
}

h1 {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

span {
  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: 1px;
}
