<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="src/index.css">
  <title>functional-programming</title>
</head>
<body>
  <h1>Duitse boeken in de oba</h1>
  <span>Hoeveel Duitse boeken zijn er te vinden in de OBA en wanneer zijn deze boeken gepubliceerd?</span>
  <script src="https://d3js.org/d3.v5.js"></script>
  <script src="src/bundle.js" charset="utf-8"></script>
</body>
</html>
